Repository Chris-Johnston/Easier68k, pull requests merged in 2018-06, with the labels that each got.

#104 Standardize the way that memory values are handled
  .idea/Easier68k.iml
  .idea/misc.xml
  .travis.yml
  easier68k/core/enum/ea_mode_bin.py
  easier68k/core/enum/op_size.py
  easier68k/core/models/assembly_parameter.py
  easier68k/core/models/memory_value.py
  easier68k/core/opcodes/add.py
  easier68k/core/opcodes/dc.py
  easier68k/core/opcodes/lea.py
  easier68k/core/opcodes/move.py
  easier68k/core/opcodes/opcode.py
  easier68k/core/opcodes/opcode_or.py
  easier68k/core/opcodes/trap.py
  easier68k/core/util/opcode_util.py
  easier68k/core/util/parsing.py
  easier68k/simulator/m68k.py
  easier68k/simulator/memory.py
  setup.py
  tests/easier68k/core/models/__init__.py
  tests/easier68k/core/models/test_assembly_parameter.py
  tests/easier68k/core/models/test_memory_value.py
  tests/easier68k/core/opcodes/test_add.py
  tests/easier68k/core/opcodes/test_lea.py
  tests/easier68k/core/opcodes/test_move.py
  tests/easier68k/core/opcodes/test_or.py
  tests/easier68k/core/opcodes/test_trap.py
  tests/easier68k/simulator/test_m68k.py
  tests/easier68k/simulator/test_memory.py
Labels: Core, Simulator, Testing

#108 Added ADDA
  .idea/Easier68k.iml
  .idea/misc.xml
  easier68k/core/enum/register.py
  easier68k/core/models/assembly_parameter.py
  easier68k/core/opcodes/__init__.py
  easier68k/core/opcodes/adda.py
  easier68k/simulator/m68k.py
  tests/easier68k/core/models/test_assembly_parameter.py
  tests/easier68k/core/opcodes/__init__.py
  tests/easier68k/core/opcodes/test_adda.py
  tests/easier68k/simulator/test_m68k.py
  tests/run_doctest.py
Labels: WIP, opcode

#115 Add ORI
  easier68k/core/opcodes/ori.py
  tests/easier68k/core/opcodes/__init__.py
  tests/easier68k/core/opcodes/test_ori.py
  tests/run_doctest.py
Labels: WIP, opcode

#117 Add EOR
  easier68k/core/opcodes/__init__.py
  easier68k/core/opcodes/eor.py
  tests/easier68k/core/opcodes/__init__.py
  tests/easier68k/core/opcodes/test_eor.py
  tests/run_doctest.py
Labels: opcode
