Repository Chris-Johnston/Easier68k, pull requests merged in 2018-03, with the labels that each got.

#45 Fix the conversion utility functions, word is 16 bits not 32
  src/easier68k/core/util/__init__.py
  src/easier68k/core/util/conversions.py
  tests/easier68k/core/util/test_conversions.py
Labels: enhancement

#51 Added the EAMode class and a literals parser
  .idea/Easier68k.iml
  .idea/misc.xml
  src/easier68k/core/enum/ea_mode.py
  src/easier68k/core/util/parsing.py
Labels: Core, Needs Review, enhancement

#50 Fix #46, Support Loading of Assembly Instructions
  src/easier68k/core/models/__init__.py
  src/easier68k/core/models/list_file.py
  src/easier68k/simulator/memory.py
  tests/easier68k/core/models/__init__.py
  tests/easier68k/core/models/test_list_file.py
  tests/run_doctest.py
Labels: Core, Needs Review, enhancement

#61 Dump load memory
  src/easier68k/simulator/m68k.py
  src/easier68k/simulator/memory.py
  tests/easier68k/simulator/__init__.py
  tests/easier68k/simulator/test_memory.py
Labels: WIP, enhancement

#58 Assembler mk2
  src/easier68k/assembler/__init__.py
  src/easier68k/assembler/assembler.py
  src/easier68k/core/enum/__init__.py
  src/easier68k/core/enum/ea_mode.py
  src/easier68k/core/enum/ea_mode_bin.py
  src/easier68k/core/enum/op_size.py
  src/easier68k/core/opcodes/MOVE.py
  src/easier68k/core/opcodes/TEMPLATE.py
  src/easier68k/core/opcodes/__init__.py
  src/easier68k/core/util/__init__.py
  src/easier68k/core/util/parsing.py
  tests/easier68k/assembler/__init__.py
  tests/easier68k/assembler/basic_test_input.x68
  tests/easier68k/assembler/test_assembler.py
  tests/run_doctest.py
Labels: Assembler, Core, new instruction

#64 Added a base opcode class and made move extend it
  src/easier68k/core/opcodes/MOVE.py
  src/easier68k/core/opcodes/TEMPLATE.py
  src/easier68k/core/opcodes/__init__.py
  src/easier68k/core/opcodes/move.py
  src/easier68k/core/opcodes/opcode.py
  tests/run_doctest.py
Labels: Assembler, Core

#62 Add CPU Registers
  src/easier68k/core/enum/condition_status_code.py
  src/easier68k/core/enum/register.py
  src/easier68k/simulator/m68k.py
  tests/easier68k/simulator/test_m68k.py
Labels: Core, Needs Review, Simulator, enhancement

#66 Implement S file load support
  src/easier68k/core/enum/__init__.py
  src/easier68k/core/enum/srecordtype.py
  src/easier68k/core/models/list_file.py
  tests/easier68k/core/models/test.S68
  tests/easier68k/core/models/test_list_file.py
  tests/easier68k/core/models/test_list_file_srecord.py
Labels: Core, enhancement

#70 Implement Move command execute, Refactor EA Mode class and Assembly Parameter Enum
  src/easier68k/core/enum/ea_mode.py
  src/easier68k/core/enum/register.py
  src/easier68k/core/models/__init__.py
  src/easier68k/core/models/assembly_parameter.py
  src/easier68k/core/opcodes/move.py
  src/easier68k/core/util/conversions.py
  src/easier68k/core/util/parsing.py
  src/easier68k/simulator/m68k.py
  tests/easier68k/core/models/test_assembly_parameter.py
  tests/easier68k/core/opcodes/__init__.py
  tests/easier68k/core/opcodes/test_move.py
  tests/easier68k/core/util/test_conversions.py
  tests/easier68k/simulator/test_m68k.py
Labels: Needs Review, Simulator

#69 first upload of dissassembler code
  src/easier68k/core/enum/ea_mode_bin.py
  src/easier68k/core/enum/op_size.py
  src/easier68k/core/opcodes/move.py
  src/easier68k/core/opcodes/opcode.py
  src/easier68k/core/util/parsing.py
  src/easier68k/core/util/split_bits.py
  tests/run_doctest.py
Labels: Core, Needs Review, Simulator

#71 Add full basic Assembler functionality
  src/easier68k/assembler/assembler.py
  src/easier68k/core/enum/ea_mode_bin.py
  src/easier68k/core/opcodes/__init__.py
  src/easier68k/core/opcodes/move.py
  src/easier68k/core/opcodes/opcode.py
  src/easier68k/core/util/__init__.py
  src/easier68k/core/util/opcode_util.py
  src/easier68k/core/util/parsing.py
  tests/easier68k/assembler/basic_test_input.x68
  tests/easier68k/assembler/test_assembler.py
  tests/run_doctest.py
Labels: Assembler, Core

#72 integrate everything!
  src/easier68k/assembler/assembler.py
  src/easier68k/core/enum/ea_mode_bin.py
  src/easier68k/core/models/assembly_parameter.py
  src/easier68k/core/opcodes/move.py
  src/easier68k/core/util/find_module.py
  src/easier68k/simulator/m68k.py
  src/easier68k/simulator/memory.py
  tests/easier68k/simulator/test_m68k.py
Labels: Simulator

#68 Refactor Opcode fromstr
  src/easier68k/assembler/assembler.py
  src/easier68k/core/opcodes/move.py
  src/easier68k/core/opcodes/opcode.py
  src/easier68k/core/util/parsing.py
  tests/easier68k/assembler/.gitignore
  tests/easier68k/core/models/test_assembly_parameter.py
  tests/run_doctest.py
Labels: Assembler, Core, Needs Review

#74 Stop using characters to specify op length, Add OpCode enum
  src/easier68k/core/enum/ea_mode_bin.py
  src/easier68k/core/enum/op_size.py
  src/easier68k/core/opcodes/move.py
  src/easier68k/core/util/conversions.py
  src/easier68k/core/util/opcode_util.py
  src/easier68k/core/util/parsing.py
  tests/easier68k/core/opcodes/test_move.py
  tests/easier68k/core/util/test_conversions.py
  tests/run_doctest.py
Labels: Core, enhancement

#79 Move back opcode methods
  easier68k/assembler/assembler.py
  easier68k/core/opcodes/move.py
  easier68k/core/opcodes/opcode.py
  easier68k/core/util/find_module.py
  easier68k/simulator/m68k.py
Labels: Core, Needs Review

#82 N-param op code reuse
  easier68k/core/opcodes/lea.py
  easier68k/core/opcodes/move.py
  easier68k/core/opcodes/simhalt.py
  easier68k/core/util/opcode_util.py
  tests/easier68k/core/opcodes/test_lea.py
  tests/easier68k/core/opcodes/test_move.py
Labels: Core

#80 Implement Simulator Auto Execute Functionality
  easier68k/core/models/assembly_parameter.py
  easier68k/core/opcodes/lea.py
  easier68k/core/opcodes/move.py
  easier68k/core/opcodes/opcode.py
  easier68k/core/opcodes/simhalt.py
  easier68k/simulator/m68k.py
  tests/easier68k/core/models/test_assembly_parameter.py
  tests/easier68k/core/opcodes/test_lea.py
  tests/easier68k/core/opcodes/test_move.py
  tests/easier68k/simulator/test_m68k.py
Labels: Needs Review, Simulator

#83 update readme
  README.md
Labels: Needs Review

#88 Add support for negative Immediates
  easier68k/core/models/assembly_parameter.py
  easier68k/core/util/opcode_util.py
  easier68k/core/util/parsing.py
  tests/easier68k/assembler/basic_test_input.x68
  tests/easier68k/assembler/test_assembler.py
  tests/easier68k/core/models/test_assembly_parameter.py
Labels: Core

#84 Add cli2
  easier68k-cli/README.md
  easier68k-cli/cli.py
  easier68k-cli/subcommandline_run.py
  easier68k-cli/test/example.x68
  easier68k-cli/util.py
Labels: Needs Review

#92 Fix trap opcode
  easier68k/core/enum/__init__.py
  easier68k/core/enum/trap_vector.py
  easier68k/core/opcodes/trap.py
  tests/easier68k/core/models/test_trap_vector.py
  tests/easier68k/core/opcodes/test_trap.py
Labels: Core, bug, opcode

#89 Add some logic and math opcodes
  easier68k/core/opcodes/add.py
  easier68k/core/opcodes/or.py
  tests/run_doctest.py
Labels: Core, opcode
